nav {
  display: flex;
}
nav > ::slotted([slot="tab"]) {
  
  flex: 1 1 auto;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border-bottom: 2px solid #ccc;
  color: #555;
  transition: 0.3s;
}
nav > ::slotted([slot="tab"][selected]) {
  border-color: #ff5308;
}
::slotted([slot="panel"]) {
  display: none;
}
::slotted([slot="panel"][selected]) {
  display: block;
}
