nav {
  display: flex;
}
nav > ::slotted([slot="tab"]) {
  padding: 1rem 2rem;
  flex: 1 1 auto;
  color: var(--color-darkGrey);
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #ccc;
  color: #555;
  transition: 0.3s;
}
nav > ::slotted([slot="tab"][selected]) {
  border-color: #ff5308;
}
::slotted([slot="panel"]) {
  display: none;
}
::slotted([slot="panel"][selected]) {
  display: block;
}
